.cart{
  width: 1000px;
  height: 500px;
  background-color: gray;
  border-style: 1px solid;
  margin:auto;
  margin-top: 10%;
  background-color: rgba(244, 236, 235, 0.6);
  padding-top: 50px;
}
.cart-item{
  width: 80%;
  height: 65px;
  margin:auto;
  background-color: rgb(255, 192, 203, 0.5);
  display: flex;
  margin-top: 1%;

}
.cart-item-property{
  margin-left: 10%;
}
.cart-title{
  display: flex;
  margin-left: 10%;
  font-weight: bolder;
  font-size: 18px;
}
.cart-title-product{
  margin-left: 8% ;
}
.cart-title-seller{
  margin-left: 18%;
}
.cart-title-zipcode{
  margin-left: 8%;
}
.cart-title-price{
  margin-left: 8%;
}
.cart-title-quantity{
  margin-left: 8%;
}
.cart-total{
  margin-top: 2%;
  /* margin-left: 72%; */
  font-size: 120%;
  width: 130px;
  padding-left: 2%;
  font-weight: bold;
} 
.cart-checkout-icon{
  width:150px;
  height: 100px;
  /* margin-top: -30%; */
  /* margin-left: 75%;
  width:10%;
  height: 5%;
  margin-top:-20px; */
  
}
.cart-checkout{
  display: flex;
  margin-left: 67%;
  /* color: black;
  margin-left: 70%;
  width:10%;
  height: 5%;
  display: flex;
  /* display: flex; */
  /* font-size: 150%;
  margin-top: 5%; */ 
}