#cart{
}
#placeorder{
    padding: 50px 0 400px;
    text-align: right;
}
.some-page-wrapper {
    margin: 15px;

  }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  
  .blue-column {
    background-color: rgb(238, 169, 233);
    height: 100px;
  }
  
  .green-column {
    background-color: rgb(182, 105, 160);
    height: 100px;
  }