#confirmation{
  text-align: center;
  padding: 200px 0 100px;
}
.Thank-you-msg{
  background-color: rgba(255, 255, 255, 0.8);
  font-family:'Monotype Corsiva','Apple Chancery','ITC Zapf Chancery','URW Chancery L',cursive;
  width: 400px;
 margin:auto;
 margin-top: -10%;
padding: 8px;
font-size: 30px;
font-weight: bolder;
border-radius: 40px;
}
.Confirmation-msg{
  background-color: rgba(255, 255, 255, 0.8);
  width: 300px;
 margin:auto;
 margin-top: 2%;
padding: 5px;
font-size: 15px;
font-weight: bold;
border-radius: 40px;

}
.confirmation-icon{
  width:550px;
  height: 500px;
  margin-left: 30%;
  display: flex;
  margin-top: 1%;
  /* background-color: rgba(255, 255, 255, 0.7); */
}
.browsing-btn{
  width: 250px;
  font-size: 30px;
  color:black;
  display: flex;
  margin-left: 40%;
  margin-top: 2%;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 4px;
  padding-left: 20px;
  border-radius: 30px;
  /* color: black; */
}
/* #browsing-btn a:link  #browsing-btn a:visited #browsing-btn a:active {
  color: rgb(0, 0, 0);
  text-decoration: none;
} */
.browsing-btn a:link , .browsing-btn a:visited,  .browsing-btn a:active{
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.browsing-btn a:hover {
  color: rgb(195, 179, 217);
  text-decoration: none;
}