.item{
    display: flex;
    margin-left: 10%;
    width: 60%;
    margin:auto;
    margin-top:10%;
}
.item-image{
    width: 400px;
    height: 350px;
}
.item-title{
    font-weight: 600;
    font-size:40px;
    font-family:'Monotype Corsiva','Apple Chancery','ITC Zapf Chancery','URW Chancery L',cursive;
}
.item-info{
    /* margin-left: 5%; */
    width: 60%;
    font-size: 20px;
    background-color: rgb(244, 244, 244, 0.6);
    padding-left: 5%;
    height: 350px;
}
.item-price{
    color: red;
    font-weight: 550;
}
.cart-button{
    width:100px;
    height:85px;
    margin-left: 70%;
    margin-top:-10%;
}